#firstImg {
    position: relative;
    /* top: 20px; */
    left: 20px;
    border: thin red;
    height: 98%;
}
#secondImg {
    position: relative;
    /* top: 20px; */
    left: 60px;
    border: thin red;
    height: 98%;

}
#thirdImg {
    position: relative;
    /* top: 20px; */
    left: 100px;
    border: thin red;
    height: 98%;

}
#request {
    position: relative;
    top: 10px;
    left: 200px;
    font-size: 40px;
}
#div1 {
    position: relative;
    background-color: rgb(255, 0, 0);
    width: 70%;
    height: 110%;
    left: 190px;
    top: 190px;
    border: red;
}